﻿<style>
    .tools-employees-part {
        display: inline-block;
        width: 100%;
        height: 500px;
        margin: 0;
        padding: 4px;
    }

    .tools-employees-part-section {
        vertical-align: top;
        width: 250px;
        display: inline-block;
    }

        .tools-employees-part-section input {
            margin-top: 3px;
            border: 1px solid #ddd;
            line-height: 24px;
            font-size: 18px;
        }

    .employee-button {
        display: inline;
        width: 40%;
        margin: 5px 0 5px 0;
    }

    .employees-grid-description {
        /* float: left; */
        color: #494e51;
        font-size: 14px;
        bottom: 3px;
        background: rgb(158, 204, 236);
        font-style: italic;
        padding: 8px 2px 3px 8px;
    }

    .personal-info-container {
        width: 100%;
        margin-right: 10px;
        display: inline-block;
    }

    .personal-info-details {
        margin: 0;
        width: 100%;
        padding: 4px;
        display: inline-block;
    }

    #personal-info-header {
        padding: 2px 5px 0;
        background-color: #ddd;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .bussiness-card-margin {
        margin-top: 20px;
    }
</style>

<div>
    <div class="panel-control-header">
        <input id="tools-userlist-dropdown" style="width: 150px; display: inline-block; font-weight: bold;" />
        <span data-bind=" text: currentEmployee.firstName() + ' ' + currentEmployee.lastName(),click: userListType " style=" font-weight: bold;"></span>
        <button data-kendo-role="button" data-kendo-sprite-css-class=" k-icon k-i-tick " class="k-primary" data-bind="click: saveEmployeeInfo">Save</button>
        <button type="button" data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-i-insert-unordered-list" data-bind="click: OpenEmployeeListAll">List All </button>
        <button type="button" data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-i-insert-unordered-list" data-bind="click: OpenEmployeeListAct">List Active </button>
    </div>
    <div class="panel-control-container">
        <div class="tab-bar display-block">
            <div id="fe-payrollinfo-tab" class="tab-item active display-inline" data-bind="click: function () { currentTab('payrollinfo') }, css: { active: currentTab() === 'payrollinfo' }"><span>Payroll Info</span></div>
            <div id="fe-personalinfo-tab" class="tab-item display-inline" data-bind="click: function () { currentTab('personalinfo') }, css: { active: currentTab() === 'personalinfo' }"><span>Personal Info</span></div>
            <div id="fe-businesscard-tab" class="tab-item display-inline" data-bind="click: function () { currentTab('businesscard') }, css: { active: currentTab() === 'businesscard' }"><span>Business Card</span></div>
        </div>
        <div class="tab-view-container" style=" height: 96%;">
            <div style="background-color: #fff;height:100%; ">
                <div data-bind="visible : currentTab() === 'payrollinfo'">
                    <div class="tools-employees-part">
                        <div class="tools-employees-part-section">
                            <label for="employee-couching-freq">Couching Freq</label>
                            <input id="employee-couching-freq" data-bind="value: currentEmployee.coachingFreq" />
                            <label for="employee-location">Location</label>
                            <input id="employee-location" data-bind="value: currentEmployee.location" />
                            <label for="employee-pay-type">PayType</label>
                            <input id="employee-pay-type" data-bind="value:currentEmployee.payType" />
                            <label for="employee-start-date">StartDate</label>
                            <input id="employee-start-date" data-bind="value:currentEmployee.startDate" />
                            <label for="employee-personale-rate">Personal Rate</label>
                            <input id="employee-personale-rate" data-bind="value:currentEmployee.personalRate" />
                            <label for="employee-vacation-rate">Vacation Rate</label>
                            <input id="employee-vacation-rate" data-bind="value:currentEmployee.vacationRate" />

                            <label for="employee-msg-text">Text Message</label>
                            <input id="employee-msg-text" data-bind="value: currentEmployee.msgText">
                            <div style="display:block;margin-top:2px;">
                                <input id="employee-alert-flag" data-bind="checked:currentEmployee.alertFlag" type="checkbox" />
                                <label for="employee-alert-flag">Alert</label>
                                <input id="employee-trainer-flag" data-bind="checked:currentEmployee.trainer" type="checkbox" />
                                <label for="employee-trainer-flag">Trainer</label>
                                <input id="employee-mgr-coach" data-bind="checked:currentEmployee.mgrCoach" type="checkbox" />
                                <label for="employee-mgr-coach">couching freq</label>
                            </div>
                        </div>
                        <div class="tools-employees-part-section">
                                
                            <label for="employee-supervisor">Supervisor</label>
                            <input id="employee-supervisor" data-bind="value: currentEmployee.supvName">
                            <label for="employee-term-date">Term Date</label>
                            <input id="employee-term-date" data-bind="value:currentEmployee.termDate" />
                            <label for="employee-rate">Rate</label>
                            <input id="employee-rate" data-bind="value:currentEmployee.rate" />
                            <label for="employee-region-dropdown" style="display:block; margin-bottom:2px;">Region</label>
                            <input id="employee-region-dropdown" data-bind="value:currentEmployee.region" style="width:150px;display:block;" />
                            <label for="employee-last-changed" style="display:block;">Last Changed</label>
                            <input id="employee-last-changed" data-bind="value:currentEmployee.lastChanged" disabled />
                            <label for="employee-email-for-payroll">Email for PayRoll</label>
                            <input id="employee-email-for-payroll" data-bind="value:currentEmployee.payrollEmail" />
                            <label for="phonerep-type-dropdown">Phone Report Status</label>
                            <input id="phonerep-type-dropdown" data-bind="value:currentEmployee.phoneRptFlag" style="width:150px;display:inline-block;" />
                            
                        </div>
                    </div>
                </div>

                <div data-bind="visible : currentTab() === 'personalinfo'">
                    <div class="personal-info-container">
                        <div class="personal-info-details">
                            
                                <div class="display-inline" style="width: 645px;">
                                    <label class="display-block">Address 1</label>
                                    <input id="personal-info-address1" style="width: 100%;" type="text" data-bind="value:currentEmployee.addr1" />
                                </div>
                            
                            <div class="display-block">
                                <div class="display-inline" style="width: 645px">
                                    <label class="display-block">Address 2</label>
                                    <input id="personal-info-address2" style="width: 100%;" type="text" data-bind="value:currentEmployee.addr2" />
                                </div>
                            </div>
                            <div class="display-block">
                                <div class="display-inline" style="width: 310px; margin-right: 20px;">
                                    <label class="display-block">City</label>
                                    <input id="personal-info-city" style="width: 100%;" type="text" data-bind="value:currentEmployee.city" />
                                </div>
                                <div class="display-inline" style="width: 150px; margin-right: 20px;">
                                    <label class="display-block">State</label>
                                    <input id="personal-info-state" style="width: 100%;" type="text" data-bind="value:currentEmployee.state" />
                                </div>
                                <div class="display-inline" style="width: 136px">
                                    <label class="display-block">Zip Code</label>
                                    <input id="personal-info-zipcode" style="width: 100%;" type="text" data-bind="value:currentEmployee.zipcode" />
                                </div>
                            </div>
                            <div class="display-block">
                                <div class="display-inline" style="width: 310px; margin-right: 20px;">
                                    <label class="display-block">Date Of Birth</label>
                                    <input id="personal-info-date-birth" type="text" style="width:100%" data-bind="value:currentEmployee.dob" />
                                </div>
                                <div class="display-inline" style="width: 310px" data-bind="visible: !currentEmployee.ssn()">
                                    <label class="display-block">Social Security Number</label>
                                    <input id="personal-info-social-security" type="text" style="width:100%" data-bind="value:currentEmployee.ssn" />
                                </div>
                            </div>
                            <div class="display-block">
                                <div class="display-inline" style="width: 310px; margin-right: 20px;">
                                    <label class="display-block">Driver License</label>
                                    <input id="personal-info-driver-license" type="text" style="width:100%" data-bind="value:currentEmployee.drivLic" />
                                </div>
                                <div class="display-inline" style="width: 310px">
                                    <label class="display-block">Phone H</label>
                                    <input id="personal-info-phone-h" type="text" style="width:100%" data-bind="value:currentEmployee.hPhone" />
                                </div>
                            </div>
                            <div class="display-block">
                                <div class="display-inline" style="width: 645px;">
                                    <label class="display-inline">Misc Information</label>
                                    <textarea id="personal-info-misc-information" rows="3" style="width: 100%; resize: none;" data-bind="value:currentEmployee.miscInfo"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="personal-info-container" style="display:block; width: 100%;">
                        <div id="personal-info-header">
                            <span style="margin-left: 4px;">Emergency Info</span>
                        </div>
                        <div class="personal-info-details">
                            <div class="display-block">
                                <div class="display-inline" style="width: 310px; margin-right: 20px;">
                                    <label class="display-block">Contact</label>
                                    <input id="emergency-info-contact" type="text" style="width:100%" />
                                </div>
                                <div class="display-inline" style="width: 310px">
                                    <label class="display-block">Phone</label>
                                    <input id="emergency-info-first-name" type="text" style="width:100%" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-bind="visible : currentTab() === 'businesscard'">
                    <div class="bussiness-card-container">
                        <div class="form-container">
                            <div style="padding: 10px; ">
                                <div>
                                    <label for="date-printed">Date Printed</label>
                                    <input id="date-printed" type="text" disabled />
                                </div>
                                <div>
                                    <input style="width: 500px; margin-top: 20px;" data-bind="value:currentEmployee.cardName" type="text" />
                                </div>
                                <div>
                                    <input style="width: 400px; margin-top: 20px;" data-bind="value:currentEmployee.cardTitle" type="text" />
                                </div>
                                <div class="display-block bussiness-card-margin">
                                    <div class="display-inline" style="width: 310px; margin-right: 20px; ">
                                        <input type="text" style="width: 100%" data-bind="value:currentEmployee.card1Left" />
                                    </div>
                                    <div class="display-inline" style="width: 310px">
                                        <input type="text" style="width: 100%" data-bind="value:currentEmployee.card1Right" />
                                    </div>
                                </div>
                                <div class="display-block bussiness-card-margin">
                                    <div class="display-inline" style="width: 310px; margin-right: 20px;">
                                        <input type="text" style="width: 100%" data-bind="value:currentEmployee.card2Left" />
                                    </div>
                                    <div class="display-inline" style="width: 310px">
                                        <input type="text" style="width: 100%" data-bind="value:currentEmployee.card2Right" />
                                    </div>
                                </div>
                                <div class="display-block bussiness-card-margin">
                                    <div class="display-inline" style="width: 310px; margin-right: 20px;">
                                        <input type="text" style="width: 100%" data-bind="value:currentEmployee.card3Left" />
                                    </div>
                                    <div class="display-inline" style="width: 310px">
                                        <input type="text" style="width: 100%" data-bind="value:currentEmployee.card3Right" />
                                    </div>
                                </div>
                                <div class="display-block bussiness-card-margin">
                                    <div class="display-inline" style="width: 310px; margin-right: 20px;">
                                        <input type="text" style="width: 100%" data-bind="value:currentEmployee.card1Left" />
                                    </div>
                                    <div class="display-inline" style="width: 310px">
                                        <input type="text" style="width: 100%" data-bind="value:currentEmployee.card4Right" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>