﻿<!--
***********************************
** File: account/login/index.html
***********************************
-->

<section>

    <div id="fe-login-container">
        <div id="fe-login-logo">
            <img src="./Content/images/hfmi-header-logo.png" style="margin-bottom: 4px;" alt="HFMI Logo" />
        </div>
        <div id="fe-login-outer">
            <div id="fe-login-inner">
                <form id="fe-login-form" onsubmit="return false">
                    <table>
                        <tr>
                            <td>
                                <label for="fe-login-username">Username</label>
                                <input id="fe-login-username" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="fe-login-pwd">Password</label>
                                <input id="fe-login-pwd" type="password" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="fe-login-submit-button" type="submit" value="Login" style="margin-top: 10px; display: inline-block;" data-bind="click: login" />
                                <div id="fe-login-wait" style="display: none;">
                                    <img src="./Content/kendo/2016.1.406/Silver/loading_2x.gif" alt="Loading..." style="vertical-align: middle;" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

</section>