﻿<!--
*******************************
** File: header/index.html
******************************
-->

<header id="fe-shell-header">
    <div id="fe-header-container">
        <div id="fe-header-logo">
            <img src="./Content/images/hfmi-header-logo.png" style="width: 224px; margin-left: 20px;" alt="HFMI Logo" />
        </div>
        <div id="fe-header-menu">
            <div style="float: left;" data-bind="foreach: router.navigationModel">
                <a class="menu-button" data-bind="attr: { href: hash }, visible: $parent.checkViewAccess($data), css: { active: isActive }">
                    <span class="menu-icon glyphicon" data-bind="css: iconClass"></span>
                    <span class="menu-icon-text" data-bind="html: title.toUpperCase()"></span>
                </a>
            </div>
            <div style="float: right;">
                <div id="fe-checkin" class="menu-button" data-bind="visible : !isCheckedIn() && currentTemplate() !=='emr', click : function (){updateCheckinStatus('notCheckedIn')}">
                    <span class="glyphicon glyphicon-import"></span>
                    <span class="menu-icon-text">CHECK IN</span>
                </div>
                <div id="fe-checkout" class="menu-button" data-bind="visible : isCheckedIn() && currentTemplate() !=='emr', click : function (){updateCheckinStatus('checkedIn')}">
                    <span class=" glyphicon glyphicon-export">
                    </span>
                    <span class="menu-icon-text">CHECK OUT</span>
                </div>
                <div class="menu-button" data-bind="click: clientSelector.open">
                    <span class="glyphicon glyphicon-list-alt menu-icon"></span>
                    <span class="menu-icon-text">CLIENT</span>
                </div>
                <div class="menu-button" data-bind="">
                    <span class="glyphicon glyphicon-user menu-icon"></span>
                    <span class="menu-icon-text" data-bind="text: getUserDisplayName().toUpperCase()"></span>
                </div>
                <a class="menu-button" href="#Tools" data-bind="css: { active: router.activeInstruction().config.title === 'Tools' }">
                    <span class="glyphicon glyphicon-cog menu-icon"></span>
                    <span class="menu-icon-text">TOOLS</span>
                </a>
                <div class="menu-button" data-bind="click: appsecurity.logOut">
                    <span class="glyphicon glyphicon-log-out menu-icon"></span>
                    <span class="menu-icon-text">LOGOUT</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="fe-shell-view">
    <div id="fe-main-view">
        <div class="container-fluid page-host" data-bind="router: { cacheViews: true, transition: 'entrance' }"></div>
    </div>
</section>
