﻿<!--
*****************************************
** File: repstatus/index.html
*****************************************
-->

<section style="height: 100%;">
    <div id="fe-rep-status-container">
        <div id="fe-rep-status-toolbar">
            <div class="menu-button img-button" data-bind="click: filterRepStatusList">
                <div style="margin: 0px 9px 0px 10px;">
                    <span class="glyphicon glyphicon-filter menu-icon" style="font-size: 22px;"></span>
                    <span id="fe-rep-status-filter-button-text" class="menu-icon-text">SHOW ALL</span>
                </div>
            </div>
        </div>
        <div id="fe-rep-status-grid-container" style="position: absolute; bottom: 0px; top: 60px;">
            <div id="fe-rep-status-grid"></div>
        </div>
    </div>
</section>
