﻿<!--
*******************************
** File: header/index.html
******************************
-->

<section>
    <div id="fe-header-container">
        <div id="fe-header-logo">
            <img src="./Content/images/hfmi-header-logo-sm.png" style="margin-bottom: 10px;" alt="HFMI Logo" />
        </div>
        <div id="fe-header-menu">
            <div style="float: left;">
                <div class="menu-button" style="margin-left: 10px;" data-bind="click: showPatientView">
                    <span class="glyphicon glyphicon-user menu-icon"></span>
                    <span class="menu-icon-text">PATIENT</span>
                </div>
                <div class="menu-button" style="margin-left: 10px;" data-bind="click: showRepStatusView">
                    <span class="glyphicon glyphicon-tasks menu-icon"></span>
                    <span class="menu-icon-text">REP STATUS</span>
                </div>
                <div class="menu-button" style="margin-left: 10px;" data-bind="click: showRepStatusSpecialView">
                    <span class="glyphicon glyphicon-list-alt menu-icon"></span>
                    <span class="menu-icon-text">SPECIAL</span>
                </div>
                <div class="menu-button" style="margin-left: 10px;" data-bind="click: showReportsView">
                    <span class="glyphicon glyphicon-stats menu-icon"></span>
                    <span class="menu-icon-text">REPORTS</span>
                </div>
                <div class="menu-button" style="margin-left: 10px;" data-bind="click: showImportsView">
                    <span class="glyphicon glyphicon-folder-open menu-icon"></span>
                    <span class="menu-icon-text">IMPORTS</span>
                </div>
            </div>
            <div style="float: right;">
                <div id="fe-checkin" class="menu-button" style="margin-right: 10px;" data-bind="visible : !isCheckedIn() && currentTemplate() !=='emr', click : function (){updateCheckinStatus('notCheckedIn')}">
                    <span class="glyphicon glyphicon-import"></span>
                    <span class="menu-icon-text">CHECK IN</span>
                </div>
                <div id="fe-checkout" class="menu-button" style="margin-right: 10px;" data-bind="visible : isCheckedIn() && currentTemplate() !=='emr', click : function (){updateCheckinStatus('checkedIn')}">
                    <span class=" glyphicon glyphicon-export">
                    </span>
                    <span class="menu-icon-text">CHECK OUT</span>
                </div>
                <div class="menu-button" style="margin-right: 10px;" data-bind="click: openClientSelectPopup">
                    <span class="glyphicon glyphicon-list-alt menu-icon"></span>
                    <span class="menu-icon-text">CLIENT</span>
                </div>
                <div class="menu-button" style="margin-right: 10px;" data-bind="">
                    <span class="glyphicon glyphicon-user menu-icon"></span>
                    <span class="menu-icon-text" data-bind="text: getUserDisplayName()"></span>
                </div>
                <div class="menu-button" style="margin-right: 10px;" data-bind="click: logOut">
                    <span class="glyphicon glyphicon-log-out menu-icon"></span>
                    <span class="menu-icon-text">LOGOUT</span>
                </div>
            </div>
        </div>
    </div>
</section>
