﻿<style>
    #files-manager-header {
        padding: 10px;
        height: 50px;
        box-sizing: border-box;
    }

    #files-manager-grid-container {
        position: absolute;
        top: 50px;
        bottom: 10px;
        left: 10px;
        right: 10px;
    }
</style>
<div id="files-manager-header">
    <div id="tools-filetypes-dropdown" />
</div>
<div id="files-manager-grid-container">
    <div id="files-manager-grid" style="height: 100%;" />
</div>