﻿<style>
    tr:not(.has-manager-status):not(.has-qletter):not(.k-state-selected) > td.has-hosp-alert {
        background-color: lightblue;
    }

    tr:not(.has-manager-status):not(.has-qletter):not(.k-state-selected) > td.has-fin-class-change {
        background-color: #73DA82;
    }

    tr:not(.k-state-selected).has-manager-status {
        background-color: #FB6265;
    }

    tr:not(.k-state-selected).has-qletter {
        background-color: #FFFC94;
    }

    tr:not(.has-manager-status):not(.k-state-selected) > td.no-recon-balance {
        background-color: #e0bd74;
    }

    tr:not(.has-manager-status):not(.k-state-selected) > td.recon-balance-differs {
        background-color: #EABBEC;
    }

     #fe-rep-status-toolbar > button {
        float: right;
        margin-left: 8px;
    }
</style>

<section style="height: 100%;">
    <div id="fe-rep-status-container">
        <div id="fe-rep-status-toolbar" style="position: absolute; top: 0px; left: 0px; right: 0px; height: 40px;">
            <input id="templates-dropdown"
                   style="width: 300px;"
                   data-kendo-role="dropdownlist"
                   data-kendo-text-field="name"
                   data-kendo-value-field="template"
                   data-kendo-option-label="Select an template..."
                   data-kendo-bind="source: templates, value: selectedTemplate, events: { change: loadSelectedTemplate }" />

            <button data-kendo-role="button" data-bind="click: createCampaign, enable: selectedTemplate() && selectedTemplate().type === 'CAMPAIGN'">Create Campaign</button>
            <button data-kendo-role="button" data-bind="click: downloadLetters">Download Letters</button>
            <button data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-delete" data-bind="click: deleteSelectedRows">Delete Selection</button>
            <button data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-i-refresh" data-bind="click: reloadContent">Reload Content</button>
        </div>
        <div id="work-list-grid-container" style="position: absolute; top: 40px; left: 0px; right: 0px; bottom: 100px;">
            <div id="work-list-grid" style="height: calc(100% - 22px);"></div>
        </div>
        <div id="fe-color-chart-container" style="position: absolute; height: 100px; left: 0px; right: 0px; bottom: 0px; font-size: 12px; color: darkgray; padding-top: 10px;">

            <label style="margin-left: 20px; font-weight: bold">Color Chart</label>
            <table>
                <tr>
                    <td>1 - Recon Balance Difference</td>
                    <td style="background-color: #FA75FB; width: 13px;"></td>
                    <td>2 - No Recon on Patient</td>
                    <td style="background-color: #E48E6B; width: 13px;"></td>
                    <td>3 - Queued Letter</td>
                    <td style="background-color: #E4E16B; width: 13px;"></td>
                <tr>
                    <td>4 - Manager Status</td>
                    <td style="background-color: #FB6265; width: 13px;"></td>
                    <td>5 - Fin Class Change</td>
                    <td style="background-color: #73DA82; width: 13px;"></td>
                    <td>6 - Hospital Alert</td>
                    <td style="background-color: #45ADD2; width: 13px;"></td>
                </tr>
                <tr>
                    <td>7 - T/R Checked</td>
                    <td style="background-color: #CCCCCC; width: 13px;"></td>
                    <td>8 - Status 800+ on Recon</td>
                    <td style="background-color: #EABBEC; width: 13px;"></td>
                </tr>
            </table>
        </div>
    </div>
</section>