﻿<style type="text/css">
    #fe-custom-cbdate-container {
        padding: 5px 3px 2px 3px;
    }
</style>

<div class="modal-content">
    <div class="modal-header">
        <h3 data-bind="text: title"></h3>
        <div class="modal-close" data-bind="click: close"><span class="glyphicon glyphicon-remove"></span></div>
    </div>
    <div class="modal-body" data-bind="style: { width: width, minHeight: bodyHeight }">

        <div style="padding: 10px;">
            <form id="fe-patient-comment-form" onsubmit=" return false " class="display-block">

                <div class="display-block">
                    <div id="fe-comment-ac-container" class="display-inline">
                        <div id="fe-comment-ac-header" class="display-block"><span>Action</span></div>
                        <div id="fe-comment-ac-grid" class="display-block" style="width: 100%;"></div>
                    </div>
                    <div id="fe-comment-cc-container" class="display-inline">
                        <div id="fe-comment-cc-header" class="display-block"><span>Status</span></div>
                        <div id="fe-comment-cc-grid" class="display-block" style="width: 100%;"></div>
                    </div>
                </div>

                <div class="display-block" style="width: 100%; margin: 10px 0px;">
                    <div class="display-block"><span>Comment</span></div>
                    <div class="display-block"><textarea id="fe-comment-text" style="width: calc(100% - 6px);" maxlength="148" rows="3"></textarea></div>
                    <div id="fe-custom-cbdate-container" class="display-block" data-bind="visible: patInfoUpdateBar">
                        <label for="fe-spanish-chk">Spanish</label>
                        <input id="fe-spanish-chk" data-bind="checked: spanishPat" type="checkbox" />
                        <label for="fe-field-visit-chk">Field Visit</label>
                        <input id="fe-field-visit-chk" data-bind="checked: fieldVisitPat" type="checkbox" />
                        <label for="fe-after-hours-chk">After Hours</label>
                        <input id="fe-after-hours-chk" data-bind="checked: afterHoursPat" type="checkbox" />
                        <label for="fe-custom-cbdate">Call Back Date</label>
                        <input id="fe-custom-cbdate" style="margin-left: 5px;" data-bind="value: cbDate,enable: isSpecialCBDate " />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn-default" data-bind="click: close">Cancel</button>
        <button class="btn-default btn-primary" data-bind="click: addMultiComment,visible : !repstatusSpecial()">NEXT</button>
        <button class="btn-default btn-primary" data-bind="click: addMultiCommentRepStatusSpecial,visible : repstatusSpecial">Submit</button>
    </div>
</div>
