﻿<section>
    <script type="text/x-kendo-template" id="client">
        <div class="fe-list-item" data-item-id="#:ClientNum#"><strong>#:ClientNum#</strong>: #:Name#</div>
    </script>

    <script type="text/x-kendo-template" id="code">
        <div class="fe-list-item" data-item-id="#:CcCode#"><strong>#:CcCode#</strong>: #:CcDescription#</div>
    </script>

    <div class="fe-left-panel">
        <div style="padding: 10px;" data-bind="visible: statusCodeListIds.length > 1">
            <input id="fe-list-id"
                   style="width: 100%;"
                   data-kendo-role="dropdownlist"
                   data-kendo-index="0"
                   data-kendo-bind="value: selectedStatusCodeListId, source: statusCodeListIds" />
        </div>

        <ul data-kendo-role="panelbar">
            <li class="k-state-active">
                <span class="k-link k-state-selected">Clients</span>
                <div class="fe-filter-container">
                    <div class="fe-filter-inner-container">
                        <input id="rd-all-clients" type="radio" name="clientSearch" value="ALL" data-bind="checked: filters.clientSearch">
                        <label for="rd-all-clients">All Clients</label><br />
                        <input id="rd-current-client" type="radio" name="clientSearch" value="CURRENT" data-bind="checked: filters.clientSearch">
                        <label for="rd-current-client">Current Client</label><br />
                        <input id="rd-custom-clients" type="radio" name="clientSearch" value="SELECT" data-bind="checked: filters.clientSearch">
                        <label for="rd-custom-clients">Select Clients</label><br />
                        <div id="fe-client-list"
                             class="fe-list-filter"
                             data-bind="visible: filters.clientSearch() === 'SELECT'"
                             data-kendo-role="listview"
                             data-kendo-template="client"
                             data-kendo-selectable="multiple"
                             data-kendo-bind="source: clients"></div>
                    </div>
                </div>
            </li>
            <li>
                <span class="k-link">Status Codes</span>
                <div class="fe-filter-container">
                    <div class="fe-filter-inner-container">
                        <input id="chk-all-codes" type="checkbox" data-bind="checked: filters.allCodes">
                        <label for="chk-all-codes">All Status Codes</label>
                        <br />
                        <div id="fe-codes-list"
                             class="fe-list-filter"
                             data-bind="visible: !filters.allCodes()"
                             data-kendo-role="listview"
                             data-kendo-template="code"
                             data-kendo-selectable="multiple"
                             data-kendo-bind="source: codes"></div>
                    </div>
                </div>
            </li>
            <li>
                <span class="k-link">Date</span>
                <div class="fe-filter-container">
                    <div class="fe-filter-inner-container">
                        <input id="rd-date-placement" type="radio" name="dateSearch" value="PLACEMENT" data-bind="checked: filters.dateSearch" />
                        <label for="rd-date-placement">Placement</label><br />
                        <input id="rd-date-comment" type="radio" name="dateSearch" value="COMMENT" data-bind="checked: filters.dateSearch" />
                        <label for="rd-date-comment">Comment</label><br />
                        <input id="rd-date-admit" type="radio" name="dateSearch" value="ADMIT" data-bind="checked: filters.dateSearch" />
                        <label for="rd-date-admit">Admit</label><br />
                        <input id="rd-date-callback" type="radio" name="dateSearch" value="CALLBACK" data-bind="checked: filters.dateSearch" />
                        <label for="rd-date-callback">Callback</label><br />
                        <input id="rd-date-callback-000" type="radio" name="dateSearch" value="CALLBACK000" data-bind="checked: filters.dateSearch" />
                        <label for="rd-date-callback-000">Callback (All 000)</label><br />
                        <input id="rd-date-application" type="radio" name="dateSearch" value="APPLICATION" data-bind="checked: filters.dateSearch" />
                        <label for="rd-date-application">Application</label><br />
                        <br />
                        <input id="rd-date-range-days" type="radio" name="dateRange" value="DAYS" data-bind="checked: filters.dateRangeType" />
                        <label for="rd-date-range-days">Last <input data-bind="enable: filters.dateRangeType() === 'DAYS', value: filters.days" type="number" min="0" max="1000" style="width: 40px;"> days</label><br />
                        <input id="rd-date-range-custom" type="radio" name="dateRange" value="CUSTOM" data-bind="checked: filters.dateRangeType" />
                        <label for="rd-date-range-custom">Date Range</label><br />
                        <br />
                        <div data-bind="visible: filters.dateRangeType() === 'CUSTOM'">
                            <label style="width: 30%; display: inline-block; text-align: right;">Start Date: </label>
                            <input data-kendo-role="datepicker" data-bind="value: filters.startDate"><br />
                            <br />
                            <label style="width: 30%; display: inline-block; text-align: right;">End Date: </label>
                            <input data-kendo-role="datepicker" data-bind="value: filters.endDate"><br />
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <span class="k-link">Other</span>
                <div class="fe-filter-container">
                    <div class="fe-filter-inner-container">
                        <input id="chk-spanish" type="checkbox" data-bind="checked: filters.spanish">
                        <label for="chk-spanish">Spanish</label><br />
                        <input id="chk-after-hours" type="checkbox" data-bind="checked: filters.afterHours">
                        <label for="chk-after-hours">After Hours</label><br />
                        <input id="chk-field-visit" type="checkbox" data-bind="checked: filters.fieldVisit">
                        <label for="chk-field-visit">Field Visit</label><br />
                        <input id="chk-ever-status" type="checkbox" data-bind="checked: filters.everHadStatus">
                        <label for="chk-ever-status">Ever Had Status</label><br />
                        <input id="chk-aged-under" type="checkbox" data-bind="checked: filters.agedUnder20">
                        <label for="chk-aged-under">19 and under</label><br />
                        <input id="chk-postings-only" type="checkbox" data-bind="checked: filters.postingsOnly">
                        <label for="chk-postings-only">Postings only</label><br />
                    </div>
                </div>
            </li>
            <li>
                <span class="k-link">Export Options</span>
                <div class="fe-filter-container">
                    <div class="fe-filter-inner-container">
                        <input id="rd-export-none" type="radio" name="exportOption" value="NONE" data-bind="checked: filters.exportOption" />
                        <label for="rd-export-none">None</label><br />
                        <input id="rd-export-maxbatch" type="radio" name="exportOption" value="MAXBATCH" data-bind="checked: filters.exportOption" />
                        <label for="rd-export-maxbatch">MaxBatch</label><br />
                        <input id="rd-export-270" type="radio" name="exportOption" value="270" data-bind="checked: filters.exportOption" />
                        <label for="rd-export-270">270</label><br />
                    </div>
                </div>
            </li>
        </ul>
        <div class="fe-left-panel-actions">
            <button data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-i-search" data-bind="click: searchPatients">Search Patients</button>
        </div>
    </div>
    <div class="fe-content-panel">
        <div class="panel-control-header">
            <button data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-i-pencil" data-bind="click: addMultiComment">Multi Update</button>
            <button data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-delete" data-bind="click: deleteRows">Delete Selection</button>
            <button data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-i-columns" data-bind="click: openColumnSelector">Select Columns</button>
            <button data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-i-arrow-s" data-bind="click: saveFiltersTemplate">Save Template</button>
            <button data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-i-arrow-n" data-bind="click: loadFilterTemplate">Load Template</button>
        </div>
        <div class="panel-control-container">
            <div id="patients-grid" style="height: 100%;" />
        </div>
    </div>
</section>