﻿<style>
    .sortable-list {
        padding: 0;
        margin: 0;
    }

    .sortable-item {
        padding: 5px;
        margin: 2px 0;
        border: 2px solid #eee;
        background-color: #E6E6E6;
        box-sizing: border-box;
        cursor: move;
    }

    .placeholder {
        background-color: darkgray;
        color: lightgrey;
        text-align: right;
    }
</style>

<div class="modal-content">
    <div class="modal-header">
        <h3>Select Columns</h3>
        <div class="modal-close" data-bind="click: close"><span class="glyphicon glyphicon-remove"></span></div>
    </div>
    <div class="modal-body" data-bind="style: { width: width, height: bodyHeight }">
        <div id="column-templates">
            <input style="width: 100%;"
                   data-kendo-role="dropdownlist"
                   data-kendo-text-field="name"
                   data-kendo-value-field="template"
                   data-kendo-option-label="Select a template..."
                   data-kendo-bind="source: templates, events: { change: loadSelectedTemplate }, value: selectedTemplate" />

        </div>
        <br/>
        <ul id="column-list" class="sortable-list" data-bind="foreach: columns">
            <li class="sortable-item">
                <input type="checkbox" data-bind="checked: !hidden, attr: { 'id' : field }"/>
                <label data-bind="text: title, attr: { 'for' : field }"></label>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn-default btn-delete" data-bind="click: deleteTemplate, visible: selectedTemplate" style="float: left;">Delete Template</button>

        <button class="btn-default" data-bind="click: saveAsTemplate">Save...</button>
        <button class="btn-default btn-primary" data-bind="click: saveGrid">OK</button>
    </div>
</div>
