﻿<!--
**********************************************
** File: patient/demographic/hfmi/index.html
**********************************************
-->

<section style="height: 100%;">
    <div style="margin: 10px; overflow: auto; height: calc(100% - 20px);">
        <form id="fe-patient-search-form" onsubmit="return false" class="display-block">
            <div class="display-block">
                <div class="display-inline">
                    <div class="display-block">
                        <label class="display-block">Hospital Account</label>
                        <input id="fe-act-hospacct" type="text" class="search-field" style="width: 217px; " maxlength="20" data-bind="value: demographics.ActHospAcct" />
                    </div>
                </div>
                <div class="display-inline" style="vertical-align: top; margin-top: 6px;">
                    <div class="menu-button img-button" data-bind="click: getPatientDetailshfmi">
                        <div style="margin: 0px 9px 0px 10px;">
                            <span class="glyphicon glyphicon-search menu-icon" style="font-size: 22px;"></span>
                            <span class="menu-icon-text">SEARCH</span>
                        </div>
                    </div>
                    <div class="menu-button img-button" data-bind="click: searchAcrossAllClients">
                        <div style="margin: 0px 9px 0px 10px;">
                            <span class="glyphicon glyphicon-zoom-in menu-icon" style="font-size: 22px;"></span>
                            <span class="menu-icon-text">GLOBAL</span>
                        </div>
                    </div>
                    <div class="menu-button img-button" data-bind="click: resetPatientDetailshfmi">
                        <div style="margin: 0px 9px 0px 10px;">
                            <span class="glyphicon glyphicon-repeat menu-icon" style="font-size: 22px;"></span>
                            <span class="menu-icon-text">RESET</span>
                        </div>
                    </div>
                    <div id="fe-patient-update-btn" class="menu-button img-button" data-bind="click: updatePatientDetailshfmi , visible: hasPatientLoaded() === true ">
                        <div style="margin: 0px 9px 0px 10px;">
                            <span class="glyphicon glyphicon-floppy-saved menu-icon" style="font-size: 22px;"></span>
                            <span class="menu-icon-text">UPDATE</span>
                        </div>
                    </div>
                    <div id="fe-patient-move-btn" class="menu-button img-button" data-bind="click: openMoveModal, visible: hasPatientLoaded() === true">
                        <div style="margin: 0px 9px 0px 10px;">
                            <span class=" glyphicon glyphicon-transfer menu-icon" style="font-size: 22px;"></span>
                            <span class="menu-icon-text">MOVE</span>
                        </div>
                    </div>
                    <div class="menu-button img-button" data-bind="click: submitClipboardLoader">
                        <div style="margin: 0px 9px 0px 10px;">
                            <span class="glyphicon glyphicon-paste menu-icon" style="font-size: 22px;"></span>
                            <span class="menu-icon-text">LOADER</span>
                        </div>
                    </div>
                    <div class="menu-button img-button" data-bind="click: copyPatientInfo">
                        <div style="margin: 0px 9px 0px 10px;">
                            <span class="glyphicon glyphicon-copy menu-icon" style="font-size: 22px;"></span>
                            <span class="menu-icon-text">COPY</span>
                        </div>
                    </div>
                    <div class="menu-button img-button" data-bind="click: scanPat,visible: hasPatientLoaded() === true">
                        <div style="margin: 0px 9px 0px 10px;">
                            <span class="glyphicon glyphicon-barcode menu-icon" style="font-size: 22px;"></span>
                            <span class="menu-icon-text">SCAN</span>
                        </div>
                    </div>
                    <div class="menu-button img-button" data-bind="click: openPrintModal, visible: hasPatientLoaded() === true">
                        <div style="margin: 0px 9px 0px 10px;">
                            <span class="glyphicon glyphicon-print menu-icon" style="font-size: 22px;"></span>
                            <span class="menu-icon-text">PRINT L</span>
                        </div>
                    </div>
                </div>
                <div id="fe-current-client-container" style="margin-left: 10px;" class="client-label k-content">

                    <h4>Client</h4>
                    <input id="fe-client-dropdown"
                           style="width: 300px;"
                           data-kendo-role="dropdownlist"
                           data-kendo-text-field="Name"
                           data-kendo-value-field="ClientNum"
                           data-kendo-value-primitive="false"
                           data-kendo-bind="source: clientsDataSource, events: { change: setCurrentUserClient }" />
                </div>
            </div>
        </form>
        <form id="fe-patient-demographic-form" onsubmit="return false" class="display-block" style="margin: 10px 0;">
            <div id="fe-patient-details-container">
                <div id="fe-patient-details-header">
                    <span style="margin-left: 4px;">Patient</span>
                </div>
                <div id="fe-patient-details">
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(50% - 6px); margin-right: 4px;">
                            <label class="display-block">Last Name</label>
                            <input id="fe-patient-lastname" type="text" class="search-field" style="width: 100%;" maxlength="25" data-bind="value: demographics.PatLastName" />
                        </div>
                        <div class="display-inline" style="width: calc(50% - 6px);">
                            <label class="display-block">First Name</label>
                            <input id="fe-patient-firstname" type="text" class="search-field" style="width: 100%;" maxlength="16" data-bind="value: demographics.PatFirstName" />
                        </div>
                    </div>
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(100% - 4px);">
                            <label class="display-block">Address</label>
                            <input id="fe-patient-address" type="text" class="search-field" style="width: 100%;" maxlength="40" data-bind="value: demographics.PatAddress" />
                        </div>
                    </div>
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(60% - 6px); margin-right: 4px;">
                            <label class=" display-block">City</label>
                            <input id="fe-patient-city" type="text" class="search-field" style="width: 100%;" maxlength="20" data-bind="value: demographics.PatCity" />
                        </div>
                        <div class="display-inline" style="width: calc(10% - 6px); margin-right: 4px;">
                            <label class="display-block">State</label>
                            <input id="fe-patient-state" type="text" class="search-field" maxlength="2" style="width: 100%;" data-bind="value: demographics.PatState" />
                        </div>
                        <div class="display-inline" style="width: calc(30% - 8px);">
                            <label class="display-block">Zip</label>
                            <input id="fe-patient-zip" type="text" class="search-field" style="width: 100%;" maxlength="8" data-bind="value: demographics.PatZip" />
                        </div>
                    </div>
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(32% - 4px); margin-right: 4px;">
                            <label class="display-block">Phone</label>
                            <input id="fe-patient-phone" type="text" class="search-field" style="width: 100%;" maxlength="13" data-bind="value: demographics.PatPhone" />
                        </div>
                        <div class="display-inline" style="width: calc(23% - 6px); margin-right: 4px;">
                            <label class="display-block">Date of Birth</label>
                            <input id="fe-patient-dob" type="text" class="search-field" style="width: 100%;" data-bind="value: demographics.PatDob" />
                        </div>
                        <div class="display-inline" style="width: calc(31% - 6px); margin-right: 4px;">
                            <label class="display-block">Social Security</label>
                            <input id="fe-patient-ssn" type="text" class="search-field" style="width: 100%;" maxlength="11" data-bind="value: demographics.PatSsn" />
                        </div>
                        <div class="display-inline" style="width: calc(12% - 4px);">
                            <label class="display-block">Gender</label>
                            <input id="fe-patient-gender" type="text" style="width: 100%;" maxlength="1" data-bind="value: demographics.PatGender" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="fe-resp-party-details-container">
                <div id="fe-resp-party-details-header">
                    <span style="margin-left: 4px;">Responsible Party</span>
                </div>
                <div id="fe-resp-party-details">
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(100% - 4px);">
                            <label class="display-block">Name</label>
                            <input id="fe-resp-name" type="text" style="width: 100%;" data-bind="value: demographics.RespName" />
                        </div>
                    </div>
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(100% - 4px);">
                            <label class="display-block">Address</label>
                            <input id="fe-resp-address" type="text" style="width: 100%;" data-bind="value: demographics.RespAddress" />
                        </div>
                    </div>
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(60% - 6px); margin-right: 4px;">
                            <label class=" display-block">City</label>
                            <input id="fe-resp-city" type="text" style="width: 100%;" data-bind="value: demographics.RespCity" />
                        </div>
                        <div class="display-inline" style="width: calc(10% - 6px); margin-right: 4px;">
                            <label class="display-block">State</label>
                            <input id="fe-resp-state" type="text" maxlength="2" style="width: 100%;" data-bind="value: demographics.RespState" />
                        </div>
                        <div class="display-inline" style="width: calc(30% - 8px);">
                            <label class="display-block">Zip</label>
                            <input id="fe-resp-zip" type="text" style="width: 100%;" data-bind="value: demographics.RespZip" />
                        </div>
                    </div>
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(30% - 8px); margin-right: 4px;">
                            <label class="display-block">Phone</label>
                            <input id="fe-resp-phone" type="text" style="width: 100%;" data-bind="value: demographics.RespPhone" />
                        </div>

                        <div class="display-inline" style="width: calc(30% - 8px); margin-right: 4px;">
                            <label class="display-block">Work Phone</label>
                            <input id="fe-resp-workphone" type="text" style="width: 100%;" data-bind="value: demographics.RespWorkPhone" />
                        </div>
                        <div class="display-inline" style="width: calc(40% - 8px);">
                            <label class="display-block">Social Security</label>
                            <input id="fe-resp-ssn" type="text" style="width: 100%;" data-bind="value: demographics.RespSsn" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="fe-patient-account-details-container">
                <div id="fe-patient-account-details-header">
                    <span style="margin-left: 4px;">Account Details</span>
                </div>
                <div id="fe-patient-account-details">
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(33% - 6px); margin-right: 4px;">
                            <label class=" display-block">Patient Num</label>
                            <input id="fe-patient-num" type="text" class="search-field" style="width: 100%;" data-bind="value: demographics.PatNum, enable: !hasPatientLoaded()" />
                        </div>
                        <div class="display-inline" style="width: calc(33% - 6px); margin-right: 4px;">
                            <label class="display-block">MRN</label>
                            <input id="fe-act-mrn" type="text" class="search-field" style="width: 100%;" data-bind="value: demographics.ActMrn" />
                        </div>
                        <div class="display-inline" style="width: calc(33% - 4px);">
                            <label class="display-block">Medicaid Number</label>
                            <input id="fe-act-medicaidnum" type="text" class="search-field" style="width: 100%;" data-bind="value: demographics.ActMedicaidNum" />
                        </div>
                    </div>
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(33% - 6px); margin-right: 4px;">
                            <label class=" display-block">Curr Balance</label>
                            <input id="fe-act-currbalance" type="text" style="width: 100%;" data-bind="value: demographics.ActCurrBalance" />
                        </div>
                        <div class="display-inline" style="width: calc(33% - 6px); margin-right: 4px;">
                            <label class="display-block">Place Amt</label>
                            <input id="fe-act-placeamt" type="text" style="width: 100%;" data-bind="value: demographics.ActPlaceAmt" />
                        </div>
                        <div class="display-inline" style="width: calc(33% - 4px);">
                            <label class="display-block">Place Date</label>
                            <input id="fe-act-placedate" type="text" style="width: 100%;" data-bind="value: demographics.ActPlaceDate, enable: !hasPatientLoaded()" />
                        </div>
                    </div>
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(33% - 6px); margin-right: 4px;">
                            <label class=" display-block">Admit Date</label>
                            <input id="fe-act-admitdate" type="text" style="width: 100%;" data-bind="value: demographics.ActAdmitDate" />
                        </div>
                        <div class="display-inline" style="width: calc(33% - 6px); margin-right: 4px;">
                            <label class="display-block">Discharge Date</label>
                            <input id="fe-act-dischdate" type="text" style="width: 100%;" data-bind="value: demographics.ActDischDate" />
                        </div>
                        <div class="display-inline" style="width: calc(33% - 4px);">
                            <label class="display-block">Appl Date</label>
                            <input id="fe-act-appldate" type="text" style="width: 100%;" data-bind="value: demographics.ActApplDate" />
                        </div>
                    </div>
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(45% - 6px); margin-right: 4px;">
                            <label class=" display-block">Encounter</label>
                            <input id="fe-act-encounter" type="text" style="width: 100%;" data-bind="value: demographics.ActEncounter" />
                        </div>
                        <div class="display-inline" style="width: calc(10% - 6px); margin-right: 4px;">
                            <label class="display-block">FC</label>
                            <input id="fe-resp-fc" type="text" style="width: 100%;" data-bind="value: demographics.RespFc" />
                        </div>
                        <div class="display-inline" style="width: calc(45% - 6px);">
                            <label class="display-block">Ins Code</label>
                            <input id="fe-act-inscode" type="text" style="width: 100%;" data-bind="value: demographics.ActInsCode" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="tab-bar display-block">
            <div id="fe-comment-tab" class="tab-item active display-inline" data-bind="click: function () { currentTab('comments') }, css: { active: currentTab() === 'comments' }"><span>Comments</span></div>
            <div id="fe-posting-tab" class="tab-item display-inline" data-bind="click: function () { currentTab('postings') }, css: { active: currentTab() === 'postings' }"><span>Posting</span></div>
            <div id="fe-history-tab" class="tab-item display-inline" data-bind="click: function () { currentTab('history'), getPatientHistory() }, css: { active: currentTab() === 'history' }"><span>History</span></div>
        </div>
        <div class="tab-view-container">
            <div id="fe-comment-container" data-bind="visible : currentTab() === 'comments'">
                <div class="display-block" style="margin-bottom: 10px;">
                    <div class="display-inline" style="vertical-align: top; margin-top: 6px;">
                        <div id="fe-add-comment-button" class="menu-button img-button" data-bind="click: openCommentPopup, visible: hasPatientLoaded" style="display:none">
                            <div style="margin: 0px 9px 0px 10px;">
                                <span class="glyphicon glyphicon-plus menu-icon" style="font-size: 22px;"></span>
                                <span class="menu-icon-text">COMMENT</span>
                            </div>
                        </div>
                        <!--<input id="fe-add-comment-button" type="button" value="Add Comment" data-bind="click: openCommentPopup" disabled="disabled"/>-->
                    </div>
                    <div class="display-inline">
                        <div class="display-inline">
                            <label class="display-block">Current Status</label>
                            <input id="fe-cmt-currstatus" type="text" style="width: 125px;" data-bind="value: demographics.CmtCurrStatus" />
                        </div>
                        <div class="display-inline">
                            <label class="display-block">Date</label>
                            <input id="fe-cmt-statusdate" type="text" style="width: 125px;" data-bind="value: demographics.CmtLastChanged" />
                        </div>
                        <div class="display-inline">
                            <label class="display-block">Call Back User</label>
                            <input id="fe-cmt-callbackuser" type="text" style="width: 125px;" data-bind="value: demographics.CmtCallBackUser" />
                        </div>
                        <div class="display-inline">
                            <label class="display-block">Call Back Date</label>
                            <input id="fe-cmt-callbackdate" type="text" style="width: 125px;" data-bind="value: demographics.CmtCallBackDate" />
                        </div>
                        <div class="display-inline">
                            <label class="display-block">Last Changed</label>
                            <input id="fe-cmt-lastchanged" type="text" style="width: 125px;" data-bind="value: demographics.CmtLastChanged" />
                        </div>
                        <div class="display-inline">
                            <span data-bind="visible:demographics.Spanish() ==='1'"><b>SP</b></span>
                            <span data-bind="visible:demographics.FieldVisit() ==='1'"><b>FV</b></span>
                            <span data-bind="visible:demographics.AfterHours() ==='1'"><b>AH</b></span>
                        </div>
                    </div>
                </div>
                <div id="fe-comment-grid-container" class="display-block">
                    <div id="fe-comment-grid"></div>
                </div>
            </div>
            <div id="fe-posting-container" data-bind="visible : currentTab() === 'postings'">
                <div class=" display-block" style="margin-bottom: 10px;">
                    <div class="display-inline" style="vertical-align: top; margin-top: 6px;">
                        <input id="fe-add-posting-button" type="button" value="Add Posting" disabled="disabled" data-bind="click: openPostingModal, enable: hasPatientLoaded" />
                        <input id="fe-delete-posting-button" type="button" value="Delete Posting" disabled="disabled" data-bind="visible: hasPostingDeletePermission, click: deletePosting, enable: hasPatientLoaded" style="margin-left: 10px;" />
                    </div>
                </div>
                <div id="fe-posting-grid-container" class="display-block">
                    <div id="fe-posting-grid"></div>
                </div>
            </div>
            <div id="fe-history-container" data-bind="visible : currentTab() === 'history'">
                <!--<div class=" display-block" style="margin-bottom: 10px;">
                    <div class="display-inline" style="vertical-align: top; margin-top: 6px;">
                        <div id="fe-delete-history-button" class="menu-button img-button">
                            <div style="margin: 0px 9px 0px 10px;">
                                <span class="glyphicon glyphicon-trash menu-icon" style="font-size: 22px;"></span>
                                <span class="menu-icon-text">DELETE</span>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div id="fe-history-grid-container" class="display-block">
                    <div id="fe-history-grid"></div>
                </div>
            </div>

        </div>
    </div>
</section>
<style type="text/css">
    .overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        background-color: rgba(28,92,107,0.5);
    }

    .client-label {
        text-align: center;
        display: inline-block;
        border-bottom: 3px solid #2076B7;
        font-size: 13px;
        width: 300px;
        float: right;
        margin-right: 10px;
    }

        .client-label > h4 {
            margin: 0px;
            margin-top: 4px;
        }

    .posting-label {
    }


        .posting-label > h4 {
            margin: 0px;
            margin-top: 4px;
        }

    #fe-posting-grid-container .k-grid-content {
        height: 161px !important;
    }
</style>

