﻿<div class="modal-content">
    <div class="modal-header">
        <h3 data-bind="text: title"></h3>
        <div class="modal-close" data-bind="click: close"><span class="glyphicon glyphicon-remove"></span></div>
    </div>
    <div class="modal-body" style="width: 300px;">
        <h4 data-bind="text: label"></h4>
        <input type="text" style="box-sizing: border-box; width: 100%;" data-bind="value: input" />
    </div>
    <div class="modal-footer">
        <button class="btn-default" data-bind="click: close">Cancel</button>
        <button class="btn-default btn-primary" data-bind="click: ok">OK</button>
    </div>
</div>
