﻿@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Fiscal Express</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!--Need this for SEO-->
    <meta name="fragment" content="!">

    <link rel="apple-touch-startup-image" href="./Content/images/hfmi-icon.ico" media="(orientation:landscape)" />
    <link rel="apple-touch-startup-image" href="./Content/images/hfmi-icon.ico" media="(orientation:portrait)" />
    <link rel="apple-touch-icon" href="./Content/images/icon.png" />

    @Styles.RenderFormat("<link href=\".{0}\" rel=\"stylesheet\"/>", "/bundles/css")
    
    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
</head>
<body>
    <div style="height: 100%;">

        <div id="applicationHost" class="container" style="height: 100%;">
            @RenderPage("~/_splash.cshtml")
        </div>

        @Scripts.RenderFormat("<script type=\"text/javascript\" src=\".{0}\"></script>", "/bundles/js")

        <script type="text/javascript" src="./Scripts/require.js" data-main="./App/main"></script>
    </div>
</body>
</html>