﻿<style>
    #callcounter-header {
        padding: 10px;
        height: 50px;
        box-sizing: border-box;
    }

    #checkin-by-ip-container {
        position: absolute;
        top: 50px;
        bottom: 10px;
        left: 10px;
        right: 10px;
    }
</style>
<div class="panel-control-header">
    <button data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-i-refresh" data-bind="click: reloadContent">Reload Content</button>
</div>
<div id="checkin-by-ip-container">
    <div id="checkin-by-ip-grid" style="height: 100%;" />
</div>