﻿<style>
    .message {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
</style>

<div>
    <div class="message">
        <div style="display: block; text-align: center; margin-bottom: 10px;">
            <img src="./Content/images/hfmi-header-logo.png" alt="HFMI Logo"/>           
        </div>
        <div style="display: block; text-align: center;">
            <img src="./Content/kendo/2016.1.406/Silver/loading_2x.gif" alt="Loading..." />
        </div>
    </div>
</div>

