﻿<!--
************************************************
** File: patient/demographic/emeric/index.html
************************************************
-->

<section style="height: 100%;">
    <div style="margin: 10px; overflow: auto; height: calc(100% - 20px);">
        <form id="fe-patient-search-form" onsubmit="return false" class="display-block">
            <div class="display-block">
                <div id="fe-patient-search-container">
                    <div class="display-inline">
                        <div class="display-block">
                            <label class="display-block">Claimant</label>
                            <input id="fe-subscriber-num" type="text" maxlength="20"  style="width: 217px;" />
                        </div>
                    </div>
                    <div class="display-inline" style="vertical-align: top;">
                        <div class="menu-button img-button" style="margin-left: 10px;" data-bind="click: getPatientDetails">
                            <div style="margin: 0px 9px 0px 10px;">
                                <span class="glyphicon glyphicon-search menu-icon" style="font-size: 22px;"></span>
                                <span class="menu-icon-text">SEARCH</span>
                            </div>
                        </div>
                        <div class="menu-button img-button" style="margin-left: 10px;" data-bind="click: resetPatientDetails">
                            <div style="margin: 0px 9px 0px 10px;">
                                <span class="glyphicon glyphicon-repeat menu-icon" style="font-size: 22px;"></span>
                                <span class="menu-icon-text">RESET</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="fe-patient-name-container" style="display: none;">
                    <label class="display-block">Claimant Name</label>
                    <span id="fe-patient-name" style="font-size: 18px; line-height: 24px;"></span>
                </div>
                <div id="fe-toolbar-button-container" style="display: none;">
                    <div class="menu-button img-button" data-bind="click: savePatientDetails">
                        <div style="margin: 0px 8px 0px 10px;">
                            <span class="glyphicon glyphicon-floppy-disk menu-icon" style="font-size: 22px;"></span>
                            <span class="menu-icon-text">SAVE</span>
                        </div>
                    </div>
                    <div class="menu-button img-button" style="margin-left: 10px;" data-bind="click: openGenerateDocumentPopup">
                        <div style="margin: 0px 7px 0px 10px;">
                            <span class="glyphicon glyphicon-file menu-icon" style="font-size: 22px;"></span>
                            <span class="menu-icon-text">DOCS</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form id="fe-patient-demographic-form" onsubmit="return false" class="display-block" style="margin: 10px 0;">
            <div id="fe-patient-address1-container">
                <div id="fe-patient-address1-details-header">
                    <span class="display-inline" style="margin-left: 4px;">Pharmscreen Address</span>
                    <div class="fe-address-loader" style="display: none;">
                        <img src="./Content/kendo/2016.1.406/Silver/loading.gif" style="height: 12px;" alt="Loading..." />
                    </div>
                </div>
                <div id="fe-patient-address1-details">
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(100% - 4px);">
                            <label class="display-block">Name</label>
                            <input id="fe-patient-name1" type="text" style="width: 100%;" maxlength="20" readonly="readonly" />
                        </div>
                    </div>
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(100% - 4px);">
                            <label class="display-block">Address</label>
                            <input id="fe-patient-address1" type="text" style="width: 100%;" maxlength="40" readonly="readonly" />
                        </div>
                    </div>
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(60% - 6px); margin-right: 4px;">
                            <label class=" display-block">City</label>
                            <input id="fe-patient-city1" type="text" style="width: 100%;" maxlength="20"  readonly="readonly" />
                        </div>
                        <div class="display-inline" style="width: calc(10% - 7px); margin-right: 4px;">
                            <label class="display-block">State</label>
                            <input id="fe-patient-state1" type="text" style="width: 100%;" maxlength="2"  readonly="readonly" />
                        </div>
                        <div class="display-inline" style="width: calc(30% - 8px);">
                            <label class="display-block">Zip</label>
                            <input id="fe-patient-zip1" type="text" style="width: 100%;" maxlength="8" readonly="readonly" />
                        </div>
                    </div>
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(30% - 6px); margin-right: 4px;">
                            <label class="display-block">Phone</label>
                            <input id="fe-patient-phone1" type="text" style="width: 100%;" maxlength="13" readonly="readonly" />
                        </div>
                        <div class="display-inline" style="width: calc(70% - 7px);">
                            <label class="display-block">Email</label>
                            <input id="fe-patient-email1" type="text" style="width: 100%;" readonly="readonly"/>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fe-patient-address2-container">
                <div id="fe-patient-address2-details-header">
                    <span class="display-inline" style="margin-left: 4px;">Alternate Address</span>
                    <div class="fe-address-loader" style="display: none;">
                        <img src="./Content/kendo/2016.1.406/Silver/loading.gif" style="height: 12px;" alt="Loading..." />
                    </div>
                </div>
                <div id="fe-patient-address2-details">
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(100% - 4px);">
                            <label class="display-block">Name</label>
                            <input id="fe-patient-name2" type="text" style="width: 100%;" readonly="readonly" />
                        </div>
                    </div>
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(100% - 4px);">
                            <label class="display-block">Address</label>
                            <input id="fe-patient-address2" type="text" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(60% - 6px); margin-right: 4px;">
                            <label class=" display-block">City</label>
                            <input id="fe-patient-city2" type="text" style="width: 100%;"/>
                        </div>
                        <div class="display-inline" style="width: calc(10% - 7px); margin-right: 4px;">
                            <label class="display-block">State</label>
                            <input id="fe-patient-state2" type="text" style="width: 100%;"/>
                        </div>
                        <div class="display-inline" style="width: calc(30% - 8px);">
                            <label class="display-block">Zip</label>
                            <input id="fe-patient-zip2" type="text" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(30% - 6px); margin-right: 4px;">
                            <label class="display-block">Phone</label>
                            <input id="fe-patient-phone2" type="text" style="width: 100%;"/>
                        </div>
                        <div class="display-inline" style="width: calc(70% - 7px);">
                            <label class="display-block">Email</label>
                            <input id="fe-patient-email2" type="text" style="width: 100%;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fe-patient-address3-container">
                <div id="fe-patient-address3-details-header">
                    <span class="display-inline" style="margin-left: 4px;">Third Party Address</span>
                    <div class="fe-address-loader" style="display: none;">
                        <img src="./Content/kendo/2016.1.406/Silver/loading.gif" style="height: 12px;" alt="Loading..." />
                    </div>
                </div>
                <div id="fe-patient-address3-details">
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(100% - 4px);">
                            <label class="display-block">Name</label>
                            <input id="fe-patient-name3" type="text" style="width: 100%;" />
                        </div>
                    </div>
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(100% - 4px);">
                            <label class="display-block">Address</label>
                            <input id="fe-patient-address3" type="text" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(60% - 6px); margin-right: 4px;">
                            <label class=" display-block">City</label>
                            <input id="fe-patient-city3" type="text" style="width: 100%;"/>
                        </div>
                        <div class="display-inline" style="width: calc(10% - 7px); margin-right: 4px;">
                            <label class="display-block">State</label>
                            <input id="fe-patient-state3" type="text" style="width: 100%;"/>
                        </div>
                        <div class="display-inline" style="width: calc(30% - 8px);">
                            <label class="display-block">Zip</label>
                            <input id="fe-patient-zip3" type="text" style="width: 100%;"/>
                        </div>
                    </div>
                    <div class="display-block">
                        <div class="display-inline" style="width: calc(30% - 6px); margin-right: 4px;">
                            <label class="display-block">Phone</label>
                            <input id="fe-patient-phone3" type="text" style="width: 100%;"/>
                        </div>
                        <div class="display-inline" style="width: calc(70% - 7px);">
                            <label class="display-block">Email</label>
                            <input id="fe-patient-email3" type="text" style="width: 100%;"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="tab-bar display-block">
            <div id="fe-comment-tab" class="tab-item active display-inline" data-bind="click: changeTabs">
                <span class="display-inline">Comments</span>
                <div class="fe-comment-loader" style="display: none;">
                    <img src="./Content/kendo/2016.1.406/Silver/loading.gif" style="height: 12px;" alt="Loading..." />
                </div>
            </div>
            <div id="fe-claim-tab" class="tab-item display-inline" data-bind="click: changeTabs">
                <span class="display-inline">Claims</span>
                <div class="fe-claim-loader" style="display: none;">
                    <img src="./Content/kendo/2016.1.406/Silver/loading.gif" style="height: 12px;" alt="Loading..." />
                </div>
            </div>
        </div>
        <div class="tab-view-container">
            <div id="fe-comment-container">
                <div class="display-block" style="margin-bottom: 10px;">
                    <div class="display-inline" style="vertical-align: top;">

                        <div id="fe-add-comment-button" class="menu-button img-button" data-bind="click: openCommentPopup" style="display: none;">
                            <div style="margin: 0px 9px 0px 10px;">
                                <span class="glyphicon glyphicon-plus menu-icon" style="font-size: 22px;"></span>
                                <span class="menu-icon-text">COMMENT</span>
                            </div>
                        </div>

                        <!--<input id="fe-add-comment-button" type="button" value="Add Comment" data-bind="click: openCommentPopup" disabled="disabled"/>-->
                    </div>
                    <div class="display-inline">
                        <div class="display-inline">
                            <label class="display-block">Current Status</label>
                            <input id="fe-cmt-currstatus" type="text" style="width: 125px;" />
                        </div>
                        <div class="display-inline">
                            <label class="display-block">Date</label>
                            <input id="fe-cmt-statusdate" type="text" style="width: 125px;" />
                        </div>
                        <div class="display-inline">
                            <label class="display-block">Call Back Date</label>
                            <input id="fe-cmt-callbackdate" type="text" style="width: 125px;" />
                        </div>
                        <div class="display-inline">
                            <label class="display-block">Last Changed</label>
                            <input id="fe-cmt-lastchanged" type="text" style="width: 125px;" />
                        </div>
                    </div>
                </div>
                <div id="fe-comment-grid-container" class="display-block">
                    <div id="fe-comment-grid"></div>
                </div>
            </div>
            <div id="fe-claim-container" style="display: none;">
                <div class="display-block" style="margin-bottom: 10px;">
                    <div class="display-inline" style="vertical-align: top;">
                        <div class="menu-button img-button" data-bind="click: refreshPatientClaims">
                            <div style="margin: 0px 9px 0px 10px;">
                                <span class="glyphicon glyphicon-refresh menu-icon" style="font-size: 22px;"></span>
                                <span class="menu-icon-text">REFRESH</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="fe-claim-grid-container" class="display-block" style="height: 100%;">
                    <div id="fe-claim-grid"></div>
                </div>
            </div>
        </div>
    </div>
</section>
