﻿<div class="modal-content">
    <div class="modal-header">
        <h3 data-bind="text: title"></h3>
        <div class="modal-close" data-bind="click: close"><span class="glyphicon glyphicon-remove"></span></div>
    </div>
    <div class="modal-body" style="width: 900px;">
        <form id="fe-user-client-select-form" onsubmit=" return false " class="display-block">
            <div class="display-block">
                <div id="fe-user-client-master-container" class="display-inline">
                    <div id="fe-user-client-master-header" class="display-block"><span>Master Account</span></div>
                    <div id="fe-user-client-master-grid" class="display-block" style="width: 100%;"></div>
                </div>
                <div id="fe-user-client-sub-container" class="display-inline">
                    <div id="fe-user-client-sub-header" class="display-block"><span>Client</span></div>
                    <div id="fe-user-client-sub-grid" class="display-block" style="width: 100%;"></div>
                </div>
            </div>
            <div id="fe-user-client-buttons" class="display-block" style="margin-top: 10px;">

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn-default" data-bind="click: close">Cancel</button>
        <button class="btn-default btn-primary" data-bind="click: selectUserClient">OK</button>
    </div>
</div>
