﻿<!--
*****************************************
** File: patient/comment/index.html
*****************************************
-->

<section style="height: 100%;">

    <div style="padding: 10px;">
        <form id="fe-patient-comment-form" onsubmit=" return false " class="display-block">

            <div class="display-block">
                <div id="fe-comment-ac-container" class="display-inline">
                    <div id="fe-comment-ac-header" class="display-block"><span>Action</span></div>
                    <div id="fe-comment-ac-grid" class="display-block" style="width: 100%;"></div>
                </div>
                <div id="fe-comment-cc-container" class="display-inline">
                    <div id="fe-comment-cc-header" class="display-block"><span>Status</span></div>
                    <div id="fe-comment-cc-grid" class="display-block" style="width: 100%;"></div>
                </div>
            </div>

            <div class="display-block" style="width: 100%; margin: 10px 0px;">
                <div class="display-block"><span>Comment</span></div>
                <div class="display-block"><textarea id="fe-comment-text" style="width: calc(100% - 6px);" maxlength="148" rows="3"></textarea></div>
            </div>

            <!--<div id="fe-comments-buttons" class="display-block">
                <div class="menu-button img-button" data-bind="click: addComment">
                    <div style="margin: 0px 9px 0px 10px;">
                        <span class="glyphicon glyphicon-floppy-disk menu-icon" style="font-size: 22px;"></span>
                        <span class="menu-icon-text">SAVE</span>
                    </div>
                </div>-->
                <div class="menu-button img-button" data-bind="click: addMultiComment">
                    <div style="margin: 0px 9px 0px 10px;">
                        <span class="glyphicon glyphicon-forward menu-icon" style="font-size: 22px;"></span>
                        <span class="menu-icon-text">NEXT</span>
                    </div>
                </div>
                <div class="menu-button img-button" data-bind="click: closePopup" style="margin-left: 10px;">
                    <div style="margin: 0px 9px 0px 10px;">
                        <span class="glyphicon glyphicon-remove menu-icon" style="font-size: 22px;"></span>
                        <span class="menu-icon-text">CANCEL</span>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>