﻿<style>
    #tool-container {
        height: 100%;
        box-sizing: border-box;
        position: relative;
    }

    .tools-menu {
        padding-top: 25px;
    }

    .tools-menu-item {
        display: block;
        padding: 7px;
        text-decoration: none;
        color: #505050;
        font-weight: bold;
        font-size: 14px;
        border-left: 5px solid #969696;
        background-color: #CCC;
        margin: 5px 0;
        opacity: 0.8;
        transition: all 0.2s;
    }

        .tools-menu-item:hover, .tools-menu-item.active {
            opacity: 1;
            padding: 10px;
            border-left: 8px solid #969696;
        }
</style>

<section>
    <div class="fe-left-panel">
        <div class="tools-menu" data-bind="foreach: router.navigationModel">
            <a class="tools-menu-item" data-bind="attr: { href: hash }, visible: $parent.checkViewAccess2($data),css: { active: isActive }, html: title"></a>
        </div>
    </div>
    <div class="fe-content-panel">
        <div id="tool-container" class="container-fluid page-host" data-bind="router: { cacheViews: true, transition: 'entrance' }"></div>
    </div>
</section>