﻿<!--
*****************************************
** File: doc/index.html
*****************************************
-->

<section style="height: 100%;">

    <div style="padding: 10px;">
        <form id="fe-doc-generate-form" onsubmit=" return false " class="display-block">

            <div id="fe-doc-generate-address-container" class="display-block" style="margin-bottom: 10px;">
                <div id="fe-doc-generate-address1" class="radio-button radio-selected" style="margin-right: 4px; display: inline-block;" data-bind="click: changeAddressSelection">
                    <span class="glyphicon glyphicon-check" style="font-size: 13px; display: inline-block;"></span>
                    <span class="display-inline">Pharmscreen Address</span>
                </div>
                <div id="fe-doc-generate-address2" class="radio-button" style="margin-right: 4px; display: inline-block;" data-bind="click: changeAddressSelection">
                    <span class="glyphicon glyphicon-unchecked" style="font-size: 13px; display: inline-block;"></span>
                    <span class="display-inline">Alternate Address</span>
                </div>
                <div id="fe-doc-generate-address3" class="radio-button" style="display: inline-block;" data-bind="click: changeAddressSelection">
                    <span class="glyphicon glyphicon-unchecked" style="font-size: 13px; display: inline-block;"></span>
                    <span class="display-inline">Third Party Address</span>
                </div>
            </div>
            <div id="fe-doc-generate-list-container" class="display-block">
                <div id="fe-doc-generate-list-header" class="display-block"><span>Documents</span></div>
                <div id="fe-doc-generate-list-grid" class="display-block" style="width: 100%;"></div>
            </div>
            <div id="fe-doc-generate-buttons" class="display-block" style="margin-top: 10px;">
                <div class="menu-button img-button" data-bind="click: generateDoc">
                    <div style="margin: 0px 9px 0px 10px;">
                        <span class="glyphicon glyphicon-file menu-icon" style="font-size: 22px;"></span>
                        <span class="menu-icon-text">GENERATE</span>
                    </div>
                </div>
                <div class="menu-button img-button" data-bind="click: closePopup" style="margin-left: 10px;">
                    <div style="margin: 0px 9px 0px 10px;">
                        <span class="glyphicon glyphicon-remove menu-icon" style="font-size: 22px;"></span>
                        <span class="menu-icon-text">CANCEL</span>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>
