﻿<style type="text/css">
    .tools-grid-description {
        float: left;
        color: #7a7575;
        font-size: 14px;
        bottom: 3px;
        background: #e2e2e2;
        width: 100%;
        font-style: italic;
        padding: 8px 2px 3px 8px;
    }

    #password-change-form {
        width: 40%;
        margin-left: 5px;
        color: #3e3e3e;
    }

        #password-change-form input {
            display: block;
        }

    .tools-bottom-actions {
        margin-top: 5px;
        border-top: 3px solid #c4c4c4;
        background: #f4f1f1;
        opacity: 8;
        padding: 3px 0px 3px 8px;
    }
</style>

<div class="tab-bar display-block">
    <div id="fe-security-tab" class="tab-item active display-inline" data-bind="click: function () { currentTab('security') }, css: { active: currentTab() === 'security' }"><span>Security</span></div>
    <!--<div id="fe-permissions-tab" class="tab-item display-inline" data-bind="click: function () { currentTab('permissions') }, css: { active: currentTab() === 'permissions' }"><span>Permission</span></div>-->
</div>
<div class="tab-view-container" style="height:100%">
    <div id="fe-security-container" class="display-block" data-bind="visible : currentTab() === 'security'">
        <div class="display-block" style=" margin:2px; background:white; height:100%">
            <div class="tools-grid-description">Change your password by entering the old password and confirming the new one. </div>
            <div id="password-change-form">
                <form>
                    <label for="account-old-password">Old password</label>
                    <input id="account-old-password" data-bind="value: securityInfo.oldPassword" type="password" />
                    <label for="account-new-password">New password</label>
                    <input id="account-new-password" data-bind="value: securityInfo.newPassword" type="password" />
                    <label for="account-old-password-confirm">Confirm new password</label>
                    <input id="account-old-password-confirm" data-bind="value: securityInfo.confirmNewPassword" type="password" />

                </form>
            </div>
            <div class="tools-bottom-actions">
                <button data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-i-search" data-bind="click: updateSecuritySettings">Update</button>
            </div>
        </div>

    </div>
    <div id="fe-permissions-container" data-bind="visible : currentTab() === 'permissions'">
        <div class="display-block">
            <h3>permissions tab</h3>
        </div>
    </div>
</div>
