<style>
    #fe-report-viewer {
        width: 100%;
        height: 100%;
        border: 1px solid lightgrey;
    }
</style>

<section>
    <script type="text/x-kendo-template" id="client">
        <div class="fe-list-item" data-item-id="#:ClientNum#"><strong>#:ClientNum#</strong>: #:Name#</div>
    </script>

    <script type="text/x-kendo-template" id="code">
        <div class="fe-list-item" data-item-id="#:CcCode#"><strong>#:CcCode#</strong>: #:CcDescription#</div>
    </script>

    <script type="text/x-kendo-template" id="user">
        <div class="fe-list-item" data-item-id="#= data #">#= data #</div>
    </script>

    <div class="fe-left-panel">
        <div style="padding: 10px;">

            <div data-bind="visible: statusCodeListIds.length > 1" style="margin-bottom: 10px">
                <input style="width: 100%;"
                       data-kendo-role="dropdownlist"
                       data-kendo-index="0"
                       data-kendo-bind="value: selectedStatusCodeListId, source: statusCodeListIds" />
            </div>
            <input style="width: 100%; "
                   data-kendo-role="combobox"
                   data-kendo-value-primitive="false"
                   data-kendo-text-field="reportName"
                   data-kendo-value-field="fileName"
                   data-kendo-placeholder="Select a Report..."
                   data-kendo-bind="value: selectedReport, source: reports" />
        </div>

        <ul data-kendo-role="panelbar">
            <li data-bind="visible: containsFilter('CLIENTNUM')" class="k-state-active">
                <span class="k-link k-state-selected">Client</span>
                <div class="fe-filter-container">
                    <div class="fe-filter-inner-container">
                        <input style="width: 100%"
                               data-kendo-role="dropdownlist"
                               data-kendo-text-field="Name"
                               data-kendo-value-field="ClientNum"
                               data-kendo-bind="source: clients, value: selectedSingleClient"
                               data-kendo-value-primitive="false"
                               data-kendo-placeholder="Select a Client..." />
                    </div>
                </div>
            </li>
            <li data-bind="visible: containsFilter('CLIENTNUMS')" class="k-state-active">
                <span class="k-link k-state-selected">Clients</span>
                <div class="fe-filter-container">
                    <div class="fe-filter-inner-container">
                        <input id="chk-all-clients" type="checkbox" data-bind="checked: filters.allClients"><label for="chk-all-clients">All Clients</label><br />
                        <div id="reports-client-list"
                             class="fe-list-filter"
                             data-bind="visible: !filters.allClients()"
                             data-kendo-role="listview"
                             data-kendo-template="client"
                             data-kendo-selectable="multiple"
                             data-kendo-bind="source: clients"></div>
                    </div>
                </div>
            </li>
            <li data-bind="visible: containsFilter('STATUSCODES')">
                <span class="k-link">Status Codes</span>
                <div class="fe-filter-container">
                    <div class="fe-filter-inner-container">
                        <input id="chk-all-codes" type="checkbox" data-bind="checked: filters.allCodes"><label for="chk-all-codes">All Status Codes</label>
                        <br />
                        <div id="reports-codes-list"
                             class="fe-list-filter"
                             data-bind="visible: !filters.allCodes()"
                             data-kendo-role="listview"
                             data-kendo-template="code"
                             data-kendo-selectable="multiple"
                             data-kendo-bind="source: codes"></div>
                    </div>
                </div>
            </li>
            <li data-bind="visible: containsFilter('USERNAMES')">
                <span class="k-link">Users</span>
                <div class="fe-filter-container">
                    <div class="fe-filter-inner-container">
                        <input id="chk-all-users" type="checkbox" data-bind="checked: filters.allUsers"><label for="chk-all-users">All Users</label>
                        <br />
                        <div id="fe-user-list"
                             class="fe-list-filter"
                             data-bind="visible: !filters.allUsers()"
                             data-kendo-role="listview"
                             data-kendo-template="user"
                             data-kendo-selectable="multiple"
                             data-kendo-bind="source: users"></div>
                    </div>
                </div>
            </li>
            <li data-bind="visible: containsFilter('DATETO') || containsFilter('DATEFROM')">
                <span class="k-link">Date Range</span>
                <div class="fe-filter-container">
                    <div class="fe-filter-inner-container">
                        <label style="width: 30%; display: inline-block; text-align: right;">Start Date: </label>
                        <input data-kendo-role="datepicker" data-bind="value: filters.startDate"><br />
                        <br />
                        <label style="width: 30%; display: inline-block; text-align: right;">End Date: </label>
                        <input data-kendo-role="datepicker" data-bind="value: filters.endDate"><br />
                    </div>
                </div>
            </li>
        </ul>
        <div class="fe-left-panel-actions">
            <button data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-i-tick" data-bind="click: loadReport">Load Report</button>
        </div>
    </div>
    <div class="fe-content-panel">
        <div class="panel-control-header">
            <button data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-delete" data-bind="click: clearReport">Clear Report</button>
            <button data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-i-refresh" data-bind="click: refreshReport">Refresh Report</button>
        </div>
        <div id="fe-report-container" class="panel-control-container">
            <div id="fe-report-viewer">
                <h1 style="text-align: center; color: lightgray;">Please, select a report</h1>
            </div>
        </div>
    </div>
</section>