﻿<div class="modal-content">
    <div class="modal-header">
        <h3>Search Results</h3>
        <div class="modal-close" data-bind="click: close"><span class="glyphicon glyphicon-remove"></span></div>
    </div>
    <div class=" modal-body">
        <div id="fe-results-grid-container" style="display: none; height: 100%; width: 100%; float: left; ">
            <div id="fe-results-grid" ></div>
            
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn-default btn-primary" data-bind="click: close">Cancel</button>
    </div>
</div>