﻿<div class="modal-content">
    <div class="modal-header">
        <h3>Postings</h3>
        <div class="modal-close" data-bind="click: close"><span class="glyphicon glyphicon-remove"></span></div>
    </div>
    <div class=" modal-body posting-label">
        <h4>Posting type</h4>
        <input id="fe-posting-type-dropbox" placeholder="Select Posting  Type..." style="width: 100%;" />
        <h4>Posting Rep</h4>
        <input id="fe-posting-userlist-dropbox" placeholder="Select Posting  Type..." style="width: 100%;" />
        <label class="display-block">Posting  Date</label>
        <input id="fe-posting-date" type="text" class="search-field" style="width: 100%;" />
        <label class="display-block">Remit  Date</label>
        <input id="fe-posting-remitdate" type="text" class="search-field" style="width: 100%;" />
        <label class="display-block">Amount</label>
        <input id="fe-posting-amount" type="text" class="search-field" style="width: 100%;" />
    </div>
    <div class="modal-footer">
        <button class="btn-default btn-primary" data-bind="click: submit">Submit</button>
        <button class="btn-default" data-bind="click: close">Cancel</button>
    </div>
</div>