﻿html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "arial";
    background-color: #6D6D6D;
    padding: 8px;
    margin: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input[type="text"], input[type="password"] {
    width: 200px;
    border: 1px solid #ddd;
    line-height: 24px;
    font-size: 18px;
}

input[type="submit"] {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #FFF;
    background: rgba(76,169,235,1);
    background: -moz-linear-gradient(top, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,169,235,1)), color-stop(100%, rgba(20,104,168,1)));
    background: -webkit-linear-gradient(top, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    background: -o-linear-gradient(top, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    background: linear-gradient(to bottom, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ca9eb', endColorstr='#1468a8', GradientType=0 );
}

    input[type="submit"]:disabled {
        opacity: .6;
    }

        input[type="submit"]:disabled:hover {
            color: #FFF;
            cursor: default;
        }

input[type="button"] {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #FFF;
    background: rgba(76,169,235,1);
    background: -moz-linear-gradient(top, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,169,235,1)), color-stop(100%, rgba(20,104,168,1)));
    background: -webkit-linear-gradient(top, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    background: -o-linear-gradient(top, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    background: linear-gradient(to bottom, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ca9eb', endColorstr='#1468a8', GradientType=0 );
}

    input[type="button"]:disabled {
        opacity: .6;
    }

        input[type="button"]:disabled:hover {
            color: #FFF;
            cursor: default;
        }

    input[type="submit"]:hover, input[type="button"]:hover {
        color: #000;
    }

label {
    font-size: .9em;
    margin-top: 4px;
    margin-bottom: 0;
}

textarea {
    border: 1px solid #DDD;
    font-family: "arial";
    line-height: 24px;
    font-size: 18px;
}

.display-inline {
    display: inline-block;
}

.display-block {
    display: block;
}

.search-field {
    border: 1px solid #4ca9eb !important;
}

.glyphicon-button {
    cursor: pointer;
}

    .glyphicon-button:hover {
        color: #4ca9eb;
    }

.img-button {
    border-radius: 10px;
    background: rgba(20,104,168,1);
    background: -moz-linear-gradient(top, rgba(20,104,168,1) 0%, rgba(76,169,235,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(20,104,168,1)), color-stop(100%, rgba(76,169,235,1)));
    background: -webkit-linear-gradient(top, rgba(20,104,168,1) 0%, rgba(76,169,235,1) 100%);
    background: -o-linear-gradient(top, rgba(20,104,168,1) 0%, rgba(76,169,235,1) 100%);
    background: -ms-linear-gradient(top, rgba(20,104,168,1) 0%, rgba(76,169,235,1) 100%);
    background: linear-gradient(to bottom, rgba(20,104,168,1) 0%, rgba(76,169,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1468a8', endColorstr='#4ca9eb', GradientType=0 );
}

.radio-button {
    cursor: pointer;
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 4px 6px;
}

    .radio-button:hover {
        background-color: #9CCFFF;
    }

.radio-selected {
    cursor: default;
    color: #FFF;
    background: rgba(76,169,235,1);
    background: -moz-linear-gradient(top, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,169,235,1)), color-stop(100%, rgba(20,104,168,1)));
    background: -webkit-linear-gradient(top, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    background: -o-linear-gradient(top, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    background: linear-gradient(to bottom, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ca9eb', endColorstr='#1468a8', GradientType=0 );
}

.success-response{
    background-color: #5CBD5C !important;
    color: #000 !important;
}

.duplicate-response{
    background-color: #ffCC80 !important;
    color: #000 !important;
}

.error-response{
    background-color: #FF4D4D !important;
    color: #000 !important;
}

/************************/
/*        Layout        */
/************************/

#fe-header-container {
    height: 50px;
    width: 100%;
    position: relative;
}

#fe-header-logo {
    height: 100%;
    width: 250px;
    display: inline-block;
    position: absolute;
}

#fe-header-menu {
    height: 100%;
    width: calc(100% - 270px);
    display: inline-block;
    position: absolute;
    left: 270px;
    border-radius: 5px;
    padding: 2px 5px;
    box-sizing: border-box;
    background-color: #529ED6;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
}

#fe-main-view {
    background-color: #FFF;
    width: calc(100% - 15px);
    height: calc(100% - 75px);
    position: absolute;
    top: 65px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
    overflow: hidden;
}

#fe-main-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #bbb;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.9);
    border-radius: 4px;
    z-index: 2002;
}

#fe-main-popup-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #DDD;
}

#fe-main-popup-view {
}

#fe-main-popup-overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: .6;
    z-index: 2001;
}

#fe-import-loading-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 2002;
}

#fe-import-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: .6;
    z-index: 2001;
}

/************************/
/*    Client Common     */
/************************/
#fe-user-client-master-container {
    display: inline-block;
    width: calc(50% - 4px);
}

#fe-user-client-master-header {
    background-color: #DDD;
    width: calc(100% - 8px);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 5px 0px;
}

#fe-user-client-master-grid .k-grid-header {
    display: none;
    overflow: hidden;
    border-bottom-width: 0;
    height: 0;
}

#fe-user-client-sub-container {
    display: inline-block;
    width: calc(50% - 5px);
}

#fe-user-client-sub-header {
    background-color: #DDD;
    width: calc(100% - 8px);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 5px 0px;
}

#fe-user-client-sub-grid .k-grid-header {
    display: none;
    overflow: hidden;
    border-bottom-width: 0;
    height: 0;
}

/************************/
/*    Patient Common    */
/************************/

#fe-comment-container {
    background-color: #FFF;
    padding: 4px;
}

#fe-posting-container {
    background-color: #FFF;
    padding: 4px;
}

#fe-claim-container {
    background-color: #FFF;
    padding: 4px;
}

#fe-comment-ac-container {
    display: inline-block;
    width: calc(50% - 4px);
}

#fe-comment-ac-header {
    background-color: #DDD;
    width: calc(100% - 8px);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 5px 0px;
}

#fe-comment-ac-grid .k-grid-header {
    display: none;
    overflow: hidden;
    border-bottom-width: 0;
    height: 0;
}

#fe-comment-cc-container {
    display: inline-block;
    width: calc(50% - 5px);
}

#fe-comment-cc-header {
    background-color: #DDD;
    width: calc(100% - 8px);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 5px 0px;
}

#fe-comment-cc-grid .k-grid-header {
    display: none;
    overflow: hidden;
    border-bottom-width: 0;
    height: 0;
}

#fe-doc-generate-list-container {
    display: inline-block;
    width: calc(100% - 4px);
}

#fe-doc-generate-list-header {
    background-color: #DDD;
    width: calc(100% - 8px);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 5px 0px;
}

#fe-doc-generate-list-grid .k-grid-header {
    display: none;
    overflow: hidden;
    border-bottom-width: 0;
    height: 0;
}

#fe-import-header {
        font-size: 14px;
        background-color: #F5F5F5;
        border-bottom: 2px solid #D4D4D4;
        padding: 12px;
        border-radius: 10px 10px 0 0;
    }

/************************/
/*     HFMI Patient     */
/************************/

#fe-patient-details-container {
    display: inline-block;
    width: calc(33% - 7px);
    margin-right: 10px;
}

#fe-patient-details-header {
    background-color: #DDD;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 5px 0px;
}

#fe-patient-details {
    display: inline-block;
    border: 1px solid #DDD;
    width: 100%;
    margin: 0px;
    padding: 4px;
}

#fe-resp-party-details-container {
    display: inline-block;
    width: calc(33% - 12px);
    margin-right: 14px;
}

#fe-resp-party-details-header {
    background-color: #DDD;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 5px 0px;
}

#fe-resp-party-details {
    display: inline-block;
    border: 1px solid #DDD;
    width: 100%;
    margin: 0px;
    padding: 4px;
}

#fe-patient-account-details-container {
    display: inline-block;
    width: calc(33% - 12px);
}

#fe-patient-account-details-header {
    background-color: #DDD;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 5px 0px;
}

#fe-patient-account-details {
    display: inline-block;
    border: 1px solid #DDD;
    width: 100%;
    margin: 0px;
    padding: 4px;
}

/************************/
/*    Emeric Patient    */
/************************/

#fe-patient-search-container {
    display: inline-block;
    width: calc(33% - 7px);
    margin-right: 10px;
    vertical-align: top;
}

#fe-patient-name-container {
    display: inline-block;
    width: calc(33% - 12px);
    margin-right: 14px;
    vertical-align: top;
}

#fe-toolbar-button-container {
    display: inline-block;
    width: calc(33% - 12px);
    vertical-align: top;
}

#fe-patient-address1-container {
    display: inline-block;
    width: calc(33% - 7px);
    margin-right: 10px;
}

#fe-patient-address1-details-header {
    background-color: #DDD;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 5px 0px;
}

#fe-patient-address1-details {
    display: inline-block;
    border: 1px solid #DDD;
    width: 100%;
    margin: 0px;
    padding: 4px;
}

#fe-patient-address2-container {
    display: inline-block;
    width: calc(33% - 12px);
    margin-right: 14px;
}

#fe-patient-address2-details-header {
    background-color: #DDD;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 5px 0px;
}

#fe-patient-address2-details {
    display: inline-block;
    border: 1px solid #DDD;
    width: 100%;
    margin: 0px;
    padding: 4px;
}

#fe-patient-address3-container {
    display: inline-block;
    width: calc(33% - 12px);
}

#fe-patient-address3-details-header {
    background-color: #DDD;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 5px 0px;
}

#fe-patient-address3-details {
    display: inline-block;
    border: 1px solid #DDD;
    width: 100%;
    margin: 0px;
    padding: 4px;
}

/************************/
/*      Rep Status      */
/************************/

#fe-rep-status-toolbar {
    display: block;
    height: 50px;
}

#fe-rep-status-container {
    display: block;
    margin: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/************************/
/*        Tabs          */
/************************/

.tab-bar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #DDD;
}

.tab-view-container {
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    padding: 4px;
    background: rgba(76,169,235,1);
    background: -moz-linear-gradient(top, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,169,235,1)), color-stop(100%, rgba(20,104,168,1)));
    background: -webkit-linear-gradient(top, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    background: -o-linear-gradient(top, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    background: linear-gradient(to bottom, rgba(76,169,235,1) 0%, rgba(20,104,168,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ca9eb', endColorstr='#1468a8', GradientType=0 );
}

.tab-item {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 4px 10px;
    cursor: pointer;
}

    .tab-item.active {
        color: #FFF;
        border-top: 1px solid #BBB;
        border-left: 1px solid #BBB;
        border-right: 1px solid #BBB;
        background: rgba(20,104,168,1);
        background: -moz-linear-gradient(top, rgba(20,104,168,1) 0%, rgba(76,169,235,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(20,104,168,1)), color-stop(100%, rgba(76,169,235,1)));
        background: -webkit-linear-gradient(top, rgba(20,104,168,1) 0%, rgba(76,169,235,1) 100%);
        background: -o-linear-gradient(top, rgba(20,104,168,1) 0%, rgba(76,169,235,1) 100%);
        background: -ms-linear-gradient(top, rgba(20,104,168,1) 0%, rgba(76,169,235,1) 100%);
        background: linear-gradient(to bottom, rgba(20,104,168,1) 0%, rgba(76,169,235,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1468a8', endColorstr='#4ca9eb', GradientType=0 );
    }

/************************/
/*        Login         */
/************************/

#fe-login-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#fe-login-logo {
}

#fe-login-outer {
    background-color: #fff;
    border: 1px solid #bbb;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.9);
    border-radius: 4px;
    height: 170px;
    width: 250px;
    margin: 0 auto;
    padding-top: 13px;
}

#fe-login-inner {
    width: 210px;
    margin: 0 auto;
}

/************************/
/*        Menu          */
/************************/

.menu-button {
    color: #FFF;
    display: inline-block;
    text-align: center;
    padding: 4px;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.2s;
    text-decoration: none;
}

    .menu-button:hover {
        margin: 0 8px;
        opacity: 1;
    }

    .menu-button.active {
        opacity: 1;
        border-bottom: 2px solid #fff;
    }

.menu-icon {
    font-size: 24px;
}

.menu-icon-text {
    font-size: 8px;
    display: block;
}

.k-grid-header th.k-header, .k-filter-row th {
    font-weight: bold !important;
    font-size: 0.9em !important;
}

.k-grid td {
    font-size: 0.9em !important;
    white-space: normal;
    cursor: pointer !important;
}

/* <modal> */

.modal-content {
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
}

.modal-header {
    background: #2980B9;
    color: #DFE4E8;
    padding: 10px;
    position: relative;
}

    .modal-header > h3 {
        margin: 0;
    }

.modal-body {
    padding: 10px;
    overflow: auto;
    color: #404040;
}

.modal-footer {
    padding: 8px 10px;
    text-align: right;
    background-color: #E2E2E2;
    border-top: 2px solid #D2D2D2;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.btn-default {
    position: relative;
    min-width: 80px;
    padding: 5px;
    background-color: #BDBDBD;
    color: #484848;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid #ADADAD;
    opacity: 0.9;
    font-weight: bold;
}

.btn-primary {
    background-color: #2980B9;
    color: #DFE4E8;
    border-color: #22628A;
}

.btn-delete {
    background-color: #E84848;
    color: #F9DBE0;
    border-color: #AF2727;
}

/* </modal> */

.fe-filter-inner-container {
    padding: 10px 5px;
}

.fe-left-panel {
    position: absolute;
    width: 300px;
    top: 0;
    bottom: 0;
    background-color: #E2E2E2;
    overflow: hidden;
    font-size: 14px;
}

.fe-content-panel {
    position: absolute;
    left: 300px;
    right: 0;
    top: 0;
    bottom: 0;
}

.panel-control-container {
    position: absolute;
    top: 50px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    box-sizing: border-box;
}

.panel-control-header {
    width: 100%;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
}

    .panel-control-header > button {
        float: right;
        margin-left: 8px;
    }

.fe-left-panel-actions {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: right;
    box-sizing: border-box;
    background-color: #C7C7C7;
    border-top: 2px solid #B9B9B9;
    padding: 7px;
}

.fe-list-filter {
    height: 300px;
    overflow: auto;
}

.fe-list-item {
    padding: 2px;
}

    .fe-list-item:hover {
        color: lightgrey;
        background-color: grey;
        cursor: pointer;
    }
