﻿<!--
*****************************************
** File: imports/index.html
*****************************************
-->

<section id="feb-import-section" style="height: 100%;">
    <form id="fe-import-form" action="./api/import/uploadimportfile" method="POST">
        <div class="panel-control-header">
            <input id="import-select-client"
                   style="width: 300px;"
                   data-kendo-role="dropdownlist"
                   data-kendo-value-primitive="false"
                   data-kendo-text-field="Name"
                   data-kendo-value-field="ClientNum"
                   data-kendo-option-label="Select a Client..."
                   data-kendo-bind="value: selectedClient, source: clients, events: { change: updateChopper }" />

            <input data-bind="value: selectedChopper, enable: !currentRequestId()" class="k-textbox" style="margin-left: 4px; width: 60px;" />
            <input data-bind="value: selectedFile" class="k-textbox" style="margin-left: 4px; width: 240px;" readonly="readonly" />

            <button class="k-button" style="float: none;" data-bind="click: browse, visible: !currentRequestId()">Browse</button>
            <button class="k-button" style="float: none;" data-bind="click: previewFile, visible: !currentRequestId()">Preview</button>

            <button data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-insert" data-bind="click: importFile, visible: currentRequestId(), enable: !requestInProgress()">Import</button>
            <button data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-delete" data-bind="click: reset, visible: currentRequestId(), enable: !requestInProgress()">Cancel</button>
            
            <input id="is-recon-checkbox" data-kendo-sprite-css-class="k-checkbox" type="checkbox" data-bind="checked: isRecon, enable: !requestInProgress()">
            <label for="is-recon-checkbox">Is Recon File</label>

            <div style="display: none;">
                <input id="fe-browse-import-file" type="file" data-bind="event: { change: readImportFile }" />
            </div>
        </div>
    </form>

    <div class="panel-control-container">
        <div id="fe-import-file-grid" style="height: calc(100% - 50px);" /><br />
        <div id="fe-import-progress-bar" style="width: 100%;" />
    </div>

</section>

