﻿<!--
*****************************************
** File: patient/comment/multicomment/index.html
*****************************************
-->
<section>

    <div style="padding: 10px;">
        <form id="fe-multi-comment-form" onsubmit=" return false" class="display-block">
            <div class="display-block">
                <div id="fe-multicomment-patientlist-grid-container" class="display-inline">
                    <div id="fe-multicomment-patientlist-header" class="display-block"><span>Patient List</span></div>
                    <div id="fe-multicomment-patientlist-grid" class="display-block" style="width: 100%;"></div>
                </div>
            </div>
            <div id="fe-comments-buttons" class="display-block">
                <div class="menu-button img-button" data-bind="click: saveMultiComment">
                    <div style="margin: 0px 9px 0px 10px;">
                        <span class="glyphicon glyphicon-floppy-disk menu-icon" style="font-size: 22px;"></span>
                        <span class="menu-icon-text">SUBMIT</span>
                    </div>
                </div>

                <div class="menu-button img-button" data-bind="click: closePopup" style="margin-left: 10px;">
                    <div style="margin: 0px 9px 0px 10px;">
                        <span class="glyphicon glyphicon-remove menu-icon" style="font-size: 22px;"></span>
                        <span class="menu-icon-text">CANCEL</span>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>