﻿<div class="modal-content">
    <div class="modal-header">
        <h3 data-bind="text: title"></h3>
        <div class="modal-close" data-bind="click: close"><span class="glyphicon glyphicon-remove"></span></div>
    </div>
    <div class="modal-body" style="width: 400px;">
        <h4 data-bind="text: label"></h4>
        <input id="items-dropdown"
               style="width: 100%;"
               data-kendo-role="dropdownlist"
               data-kendo-option-label="Select an item..."
               data-kendo-bind="source: items, value: selectedItem" />
    </div>
    <div class="modal-footer">
        <button class="btn-default btn-delete" data-bind="click: deleteItem, visible: enableDelete && selectedItem()" style="float: left">Delete</button>

        <button class="btn-default" data-bind="click: close">Cancel</button>
        <button class="btn-default btn-primary" data-bind="click: ok">OK</button>
    </div>
</div>
