﻿<style>
    #callcounter-heade {
        padding: 10px;
        height: 50px;
        box-sizing: border-box;
    }

    #callcounter-grid-container {
        position: absolute;
        top: 50px;
        bottom: 10px;
        left: 10px;
        right: 10px;
    }
</style>
<div class="panel-control-header">
    <button data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-delete" data-bind="click: deleteRows">Delete Selection</button>
    <button data-kendo-role="button" data-kendo-sprite-css-class="k-icon k-i-refresh" data-bind="click: reloadContent">Reload Content</button>
</div>
<div id="callcounter-grid-container">
    <div id="callcounter-grid" style="height: 100%;" />
</div>