﻿<div class="modal-content">
    <div class="modal-header">
        <h3 data-bind="text: title"></h3>
        <div class="modal-close" data-bind="click: close"><span class="glyphicon glyphicon-remove"></span></div>
    </div>
    <div class="modal-body" style="width: 750px;">
        <div style="padding: 10px;">
            <form id="fe-multi-comment-form" onsubmit=" return false" class="display-block">
                <div class="display-block">
                    <div id="fe-multicomment-patientlist-grid-container" class="display-inline">
                        <div id="fe-multicomment-patientlist-header" class="display-block"><span>Patient List</span></div>
                        <div id="fe-multicomment-patientlist-grid" class="display-block" style="width: 100%;"></div>
                    </div>
                </div>
            </form>
        </div>


</div>
<div class="modal-footer">
    <button class="btn-default" data-bind="click: close">Cancel</button>
    <button class="btn-default btn-primary" data-bind="click: addMultiComment">Submit</button>
</div>
</div>
